

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Liquidity SDK &mdash; Liquidity SDK latest documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/css/style.css" type="text/css" />
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Getting started" href="../guide/index.html" />
    <link rel="prev" title="Liquidity SDK" href="../index.html" /> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> Liquidity SDK
          

          
          </a>

          
            
            
              <div class="version">
                latest
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Contents:</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="current reference internal" href="#">Components</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#architecture">Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="#wallet-daemon">Wallet daemon</a></li>
<li class="toctree-l2"><a class="reference internal" href="#language-library">Language library</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../guide/index.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../endpoints/transfers.html">Transfers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../endpoints/invoices.html">Invoices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../endpoints/wallet.html">Wallet</a></li>
<li class="toctree-l1"><a class="reference internal" href="../endpoints/hub.html">Hub</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Liquidity SDK</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
      <li>Liquidity SDK</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="liquidity-sdk">
<span id="header-n8742"></span><h1>Liquidity SDK<a class="headerlink" href="#liquidity-sdk" title="Permalink to this headline">¶</a></h1>
<p>Liquidity SDK allows you to easily integrate offchain payments and
exchanges within your application. It is divided in two different parts.
The <strong>wallet daemon</strong> is a self-hosted liquidity wallet management
tool for your transactions. The <strong>Liquidity language library</strong> allows
you to access wallet daemon directly from your favorite language or
from <em>REST</em> endpoints.</p>
<img alt="../_images/components_diagram.svg" src="../_images/components_diagram.svg" /><div class="section" id="architecture">
<span id="header-n8746"></span><h2>Architecture<a class="headerlink" href="#architecture" title="Permalink to this headline">¶</a></h2>
<p>Liquidity is build around hubs creating a link between blockchain and
offchain transaction ecosystem. Blockchain remains the ultimate source
of trust in case of conflict while hub manage offchain state of network
participants. To leverage the complexity of an active state management,
the wallet daemon is querying the hub to get its last state. It
serves this up-to-date state through REST endpoint the language library
is using.</p>
<p>To give a more concrete example, the flow to perform a full transfer to a specific user is given below. Language Library is
considered to be the end user.</p>
<img alt="../_images/sequence_transfer.svg" src="../_images/sequence_transfer.svg" /><ol class="arabic simple">
<li>The user ask the daemon to perform a transfer</li>
<li>The daemon creates the transfer</li>
<li>The daemon sends the transfer</li>
<li>At regular interval, the daemon checks if the hub has included the
transfer</li>
<li>When the transfer is included in an update, the daemon notice it</li>
<li>When the user checks if there is any pending transfer, none is
returned because its transfer has been performed</li>
</ol>
<p>If something bad happends during the process, the user is able to
contact the daemon and perform security associated operations.</p>
</div>
<div class="section" id="wallet-daemon">
<span id="header-n8764"></span><h2>Wallet daemon<a class="headerlink" href="#wallet-daemon" title="Permalink to this headline">¶</a></h2>
<p>Liquidity network provides you with a non custodian payment system. Its
core component is the wallet daemon through which the user can
perform operations on the network while remaining in control of its
funds. For applications looking to implement offchain payments, this
component handles communication with liquidity hub, checking it doesn’t
behave badly.</p>
<p>In term of technology, the daemon is a docker container that
synchronises with the hub and provides various endpoints. All endpoints
are using the internal state of the daemon. Because the daemon is
hosted by the user and has the knowledge of its private key, it is able
to sign offchain transfer and leverage the complex verification process
that takes place.</p>
</div>
<div class="section" id="language-library">
<span id="header-n8768"></span><h2>Language library<a class="headerlink" href="#language-library" title="Permalink to this headline">¶</a></h2>
<p>Liquidity language library is a convenient way to communicate with the
daemon. It wraps the provided REST API using language specific
features. For now, the language library is only available for Node.JS. If
you have build an implementation for a language you love, you can submit
an issue on <a class="reference external" href="https://github.com/liquidity-network/liquidity-sdk">liquidity sdk
repo</a>.</p>
<p>In the transfer sequence described above, the user has to call the
daemon on a regular basis in order to know if it still has any
transfers pending. This active wait is not convenient and doesn’t
integrate well within an application flow. To leverage it, Node.JS
library has created a transfer method that returns a promise which is
resolved when the transfer has been performed.</p>
<div class="code javascript highlight-javascript notranslate"><div class="highlight"><pre><span></span><span class="kr">const</span> <span class="nx">liquidity</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">&#39;liquidity-sdk&#39;</span><span class="p">)</span>

<span class="kr">const</span> <span class="nx">to</span> <span class="o">=</span> <span class="s1">&#39;0x627306090abaB3A6e1400e9345bC60c78a8BEf57&#39;</span>
<span class="kr">const</span> <span class="nx">amount</span> <span class="o">=</span> <span class="mi">32</span>

<span class="kr">const</span> <span class="nx">performedTransfer</span> <span class="o">=</span> <span class="nx">await</span> <span class="nx">liquidity</span><span class="p">.</span><span class="nx">transfers</span><span class="p">.</span><span class="nx">send</span><span class="p">(</span><span class="nx">to</span><span class="p">,</span> <span class="nx">amount</span><span class="p">)</span>

<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="sb">`Tranfer has been </span><span class="si">${</span><span class="nx">performedTranfer</span><span class="si">}</span><span class="sb">`</span><span class="p">)</span>
</pre></div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../guide/index.html" class="btn btn-neutral float-right" title="Getting started" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../index.html" class="btn btn-neutral" title="Liquidity SDK" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2018

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
    

  

  <script type="text/javascript" src="../_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>